@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

html {
  // font-size: 0.1vw !important;
  font-size: clamp(0.01px, 0.1vw, 0.9px);
}

body {
  position        : relative;
  min-width       : 100%;
  min-height      : 100vh;
  background-color: #d9ecff;
  // font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-size       : 10px;
}

#root {
  position: absolute;
  width   : 100%;
  height  : 100%;
}

.certificate__print {
  position        : absolute;
  cursor          : pointer;
  border-radius   : 4px;
  bottom          : 25px;
  right           : 23px;
  background-color: #004682;
  color           : white;
  padding         : 2px 4px;
  font-size       : 14rem;
  font-family     : 'Josefin Sans', sans-serif;
  z-index         : 1;
}

.certificate_link {
  position: absolute;
  bottom   : 25px;
  left: 35.6%;
  color: #004682 !important;
  text-decoration: none;
  font-size: 13rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  z-index: 99;
  a {
    color: #004682 !important;
    // text-decoration: none;
  }
}

.certificate {

  &__container {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 100%;
  }

  &__wrap {
    position: absolute;
    width   : min(100%, 800px);
  }

  &__bg {
    width: 100%;
  }

  &__content {
    position: absolute;
    inset   : 0;

    .certficate__content__badge {
      position: absolute;

      .badge {

        .badge__2020-awards {
          position: relative;
          width   : 58%;
          left    : 35%;
          top     : 57px;
        }
      }

    }

  }
}

.certificate__content__text {
  height             : 100%;
  margin-left        : 29.6%;
  // background-color: #00ff0040;

  padding: 6% 7% 6% 5%;

  .certificate {
    &__apperication {

      // background-color: red;
      &__title {
        position         : relative;
        width            : fit-content;
        // font-family: 'Fira Sans', sans-serif;
        font-family      : 'Josefin Sans', sans-serif;
        text-transform   : uppercase;
        font-weight      : 600;
        font-size        : 35rem;
        color            : #00455C;
        line-height      : 1.2;
        // letter-spacing: 4rem;

        &__light {
          font-weight      : 300;
          // letter-spacing: 2rem;
          color            : #8F8F8F;
        }

        &::before {
          content         : '';
          position        : absolute;
          width           : 110%;
          left            : 0;
          bottom          : -5%;
          height          : 1.5rem;
          border-radius   : 2px;
          background-color: #8F8F8F;
        }
      }
    }

    &__info {
      margin-top: 10%;

      .info-text {
        font-family   : 'Josefin Sans', sans-serif;
        font-size     : 16rem;
        font-weight   : 700;
        color         : #00455C;
        text-transform: uppercase;
        margin-bottom : 5%;
      }

      .info-description {
        font-family: 'Josefin Sans', sans-serif;
        font-size  : 15rem;
        line-height: 1.2;
        padding-right: 10%;
        // color      : #9C9C9C;
        color      : #525252;
      }

      .info-person {
        // font-family: 'Dancing Script', cursive;
        font-family  : 'MonteCarlo', cursive;
        font-size    : 56rem;
        white-space: nowrap;
        line-height  : 0.9;
        font-weight  : 700;
        color        : #00455C;
        margin-bottom: 5.5%;
      }
    }
  }
}

.bold {
  font-weight: 700;
  text-transform: uppercase;
}

// media query for print screen
@media print {
  html {
    background-color: #d9ecff;
    opacity         : 0;
  }

  .certificate__wrap {
    top      : 80px;
    left     : 50%;
    transform: translateX(-50%);
  }

  .certificate__print {
    display: none;
  }

  a {
    position: relative;
    &:link::before {
      content       : attr(href);
      font-size     : 120%;
      position      : absolute;
      pointer-events: initial;
      // left: 0;
      // top: 0;
      inset         : 0;
      z-index       : 9999;
      color         : #00000001 !important;
      transform     : translate(0px, -10px);
    }
  }
}